In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [2]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
##preprocess the data
## drop the irrelevant columns..
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
## encoding categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [5]:
## one hot encoding
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])

In [6]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [7]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [8]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
## combine all the columns with the original data 
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [10]:
## split the data into features and target
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [11]:
## split the dataset into training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)


## scaling these features

scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [12]:
## save the encoder or scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN regression problem statement

In [13]:

import tensorflow as tf  
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [14]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 connected with input layer
    Dense(32,activation='relu'),  ## HL2
    Dense(1)  ## Output layer
])

model.compile(optimizer='adam',loss='mean_absolute_error',metrics='mae')
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

# set up Tensorboard

log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [17]:
# set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [18]:
## train the model
history =model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorboard_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 100387.6719 - mae: 100387.6719 - val_loss: 98552.7656 - val_mae: 98552.7656
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99758.0234 - mae: 99758.0234 - val_loss: 97268.8438 - val_mae: 97268.8438
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 97459.4219 - mae: 97459.4219 - val_loss: 93825.5938 - val_mae: 93825.5938
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 92775.4766 - mae: 92775.4766 - val_loss: 87926.4688 - val_mae: 87926.4688
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 85776.5078 - mae: 85776.5078 - val_loss: 80105.4766 - val_mae: 80105.4766
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 77232.2344 - mae: 77232.2344 - val_loss: 71489.8984 - val_mae: 71489.8984
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 68517.6875 - mae: 68517.6875 - val_loss: 63583.7109 - val_mae: 63583.7109
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 61032.1484 - mae: 61032.1484 - val_loss: 57519.1367 - val_mae: 57519.1367
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 55811.5508 - mae: 55811.5508 - val_loss: 53724.5273 - val_mae: 53724.5273
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 52722.2109 - mae: 52722.2109 - val_loss: 51799.1680 - val_mae: 51799.1680
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 51217.0859 - mae: 51217.0859 - val_loss: 51065.2148 - val_mae: 51065.2148
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50622.7773 - mae: 50622.7773 - val_loss: 50849.6250 - val_mae: 50849.6250
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 50378.8789 - mae: 50378.8789 - val_loss: 50780.9336 - val_mae: 50780.9336
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50262.4805 - mae: 50262.4805 - val_loss: 50741.2188 - val_mae: 50741.2188
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 50183.1836 - mae: 50183.1836 - val_loss: 50704.2930 - val_mae: 50704.2930
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 50122.6523 - mae: 50122.6523 - val_loss: 50678.8945 - val_mae: 50678.8945
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50071.1172 - mae: 50071.1172 - val_loss: 50646.4141 - val_mae: 50646.4141
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 50028.0703 - mae: 50028.0703 - val_loss: 50628.2617 - val_mae: 50628.2617
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 49991.3398 - mae: 49991.3398 - val_loss: 50585.7930 - val_mae: 50585.7930
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 49955.3281 - mae: 49955.3281 - val_loss: 50559.8242 - val_mae: 50559.8242
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 49921.2109 - mae: 49921.2109 - val_loss: 50535.7031 - val_mae: 50535.7031
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49893.3789 - mae: 49893.3789 - val_loss: 50512.9727 - val_mae: 50512.9727
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 49866.7812 - mae: 49866.7812 - val_loss: 50492.8008 - val_mae: 50492.8008
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49842.2930 - mae: 49842.2930 - val_loss: 50474.3750 - val_mae: 50474.3750
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49818.4805 - mae: 49818.4805 - val_loss: 50454.7227 - val_mae: 50454.7227
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49793.7148 - mae: 49793.7148 - val_loss: 50430.8086 - val_mae: 50430.8086
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 49773.4492 - mae: 49773.4492 - val_loss: 50416.4531 - val_mae: 50416.4531
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49755.0195 - mae: 49755.0195 - val_loss: 50408.7422 - val_mae: 50408.7422
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49735.3477 - mae: 49735.3477 - val_loss: 50393.9648 - val_mae: 50393.9648
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 49716.3594 - mae: 49716.3594 - val_loss: 50379.1328 - val_mae: 50379.1328
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49701.4883 - mae: 49701.4883 - val_loss: 50371.4609 - val_mae: 50371.4609
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 49682.5156 - mae: 49682.5156 - val_loss: 50370.9805 - val_mae: 50370.9805
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49669.1328 - mae: 49669.1328 - val_loss: 50362.4883 - val_mae: 50362.4883
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 49652.5625 - mae: 49652.5625 - val_loss: 50365.7266 - val_mae: 50365.7266
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 49640.3828 - mae: 49640.3828 - val_loss: 50352.9219 - val_mae: 50352.9219
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 49625.6367 - mae: 49625.6367 - val_loss: 50353.0312 - val_mae: 50353.0312
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 49611.3633 - mae: 49611.3633 - val_loss: 50347.2031 - val_mae: 50347.2031
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 49595.5156 - mae: 49595.5156 - val_loss: 50345.8281 - val_mae: 50345.8281
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49585.3281 - mae: 49585.3281 - val_loss: 50340.2305 - val_mae: 50340.2305
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 49573.4688 - mae: 49573.4688 - val_loss: 50348.5430 - val_mae: 50348.5430
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 49560.8906 - mae: 49560.8906 - val_loss: 50340.5234 - val_mae: 50340.5234
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 49548.8477 - mae: 49548.8477 - val_loss: 50336.6758 - val_mae: 50336.6758
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 49540.2344 - mae: 49540.2344 - val_loss: 50341.6602 - val_mae: 50341.6602
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 49530.8164 - mae: 49530.8164 - val_loss: 50328.3008 - val_mae: 50328.3008
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 49521.4297 - mae: 49521.4297 - val_loss: 50325.2422 - val_mae: 50325.2422
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 49511.2266 - mae: 49511.2266 - val_loss: 50318.8906 - val_mae: 50318.8906
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 49499.9883 - mae: 49499.9883 - val_loss: 50328.5664 - val_mae: 50328.5664
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 49495.5234 - mae: 49495.5234 - val_loss: 50318.5117 - val_mae: 50318.5117
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 49486.8867 - mae: 49486.8867 - val_loss: 50309.3945 - val_mae: 50309.3945
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 49478.9648 - mae: 49478.9648 - val_loss: 50311.1133 - val_mae: 50311.1133
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 49471.5586 - mae: 49471.5586 - val_loss: 50311.4922 - val_mae: 50311.4922
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 49462.2344 - mae: 49462.2344 - val_loss: 50305.5703 - val_mae: 50305.5703
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 49459.4570 - mae: 49459.4570 - val_loss: 50301.6680 - val_mae: 50301.6680
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 49452.8672 - mae: 49452.8672 - val_loss: 50306.0469 - val_mae: 50306.0469
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 49444.1562 - mae: 49444.1562 - val_loss: 50303.7031 - val_mae: 50303.7031
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 49437.2422 - mae: 49437.2422 - val_loss: 50311.0273 - val_mae: 50311.0273
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 49432.5312 - mae: 49432.5312 - val_loss: 50307.8750 - val_mae: 50307.8750
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 49425.2461 - mae: 49425.2461 - val_loss: 50302.7695 - val_mae: 50302.7695
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 49420.5391 - mae: 49420.5391 - val_loss: 50307.3945 - val_mae: 50307.3945
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 49412.9766 - mae: 49412.9766 - val_loss: 50306.7383 - val_mae: 50306.7383
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 49408.4922 - mae: 49408.4922 - val_loss: 50310.2734 - val_mae: 50310.2734
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 49401.7539 - mae: 49401.7539 - val_loss: 50317.8516 - val_mae: 50317.8516
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 49399.4453 - mae: 49399.4453 - val_loss: 50316.0938 - val_mae: 50316.0938

In [19]:
%load_ext tensorboard

In [21]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6008 (pid 38313), started 0:00:06 ago. (Use '!kill 38313' to kill it.)

In [22]:
#evalute the model
test_loss,test_mae=model.evaluate(X_test,y_test)

63/63 [==============================] - 0s 558us/step - loss: 50301.6680 - mae: 50301.6680

In [23]:
print(test_mae)

50301.66796875

In [24]:
print(test_loss)

50301.66796875

In [25]:
model.save('regression.h5')

/Users/vijaykumar/Desktop/DeepLearning/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(